@page "/game"
@using System;
@using System.Timers;
@using Project_Tetris_cs.Data;
@using Project_Tetris_cs.Data.Piece;

@code {

    Grid grid = new Grid(20, 10);

    Tetris tetrisPiece = new Tetris();

    private static Random rnd = new Random();

    public AllShape getRandomPiece() {
        tetrisPiece.arrayOfShape = new AllShape[]{tetrisPiece.block, tetrisPiece.letterJ, tetrisPiece.letterL, tetrisPiece.letterS, tetrisPiece.letterT, tetrisPiece.letterZ, tetrisPiece.line};
        return tetrisPiece.arrayOfShape[rnd.Next(tetrisPiece.arrayOfShape.Length)];
    }

    public bool placePiece(int indexRow, int indexColumn) {
        AllShape piece = getRandomPiece();
        bool result = false;
        for (int indexshape = 0; indexshape < piece.shape.Length; indexshape++) {
            if (grid.finallyGrid[indexRow, indexColumn] == piece.shape[indexshape]) {
                result = true;
                Console.WriteLine(piece.shape[indexshape]);
            }
            
        }
        return result;
    }

    public async void movePieceDownAsync() {
        @* Boucle infini *@
        while (true) {
            tetrisPiece.block.movePieceDown();
            @* StateHasChanged notifie le composant que son état a changé. *@
            this.StateHasChanged();
            @* Task.Delay fait office de timer *@
            await Task.Delay(1500);
        }
    }
}

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
        <div class="grid"> 
            <div class="tetris-container" tabindex="0">
                @for (int indexRow = grid.row - 1; indexRow >= 0; indexRow--)
                {
                    <div class="tetris-row">
                        @for (int indexColumn = 0; indexColumn < grid.column; indexColumn++)
                        {
                            @if (placePiece(indexRow, indexColumn)) {
                                @if (getRandomPiece() == tetrisPiece.block) {
                                    <td class="tetrominoBlock">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.letterJ) {
                                    <td class="tetrominoLetterJ">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.letterL) {
                                    <td class="tetrominoLetterL">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.letterS) {
                                    <td class="tetrominoLetterS">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.letterT) {
                                    <td class="tetrominoLetterT">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.letterZ) {
                                    <td class="tetrominoLetterZ">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else if (getRandomPiece() == tetrisPiece.line) {
                                    <td class="tetrominoLine">@grid.finallyGrid[indexRow, indexColumn]</td>
                                } else {
                                    <td class="notetromino">@grid.finallyGrid[indexRow, indexColumn]</td>
                                }
                            } else {
                                <td class="notetromino">@grid.finallyGrid[indexRow, indexColumn]</td>
                            }
                        }
                    </div>
                }
            </div>
            
        </div>
    </div>

    <button type="submit" @onclick="@movePieceDownAsync" class="down">Jouer</button>
    <button type="submit" @onclick="@tetrisPiece.block.movePieceLeft" class="left">Gauche</button>
    <button type="submit" @onclick="@tetrisPiece.block.movePieceRight" class="right">Droite</button>

    <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>

    <div class="row">
        <div class="col">
            <div class="tetris-container" tabindex="0">
            </div>
        </div>
    </div>
</div>