@page "/option"

@inject NavigationManager UriHelper

<div class="title">
    <img src="/img/Tetris_Title.png">
</div>

<div class="phone_outline">
    <img class="phone" src="/img/iphone_x.png">
    <div class="background">
        <img class="background_b" src="/img/background.png">
        <div class="speed">
            <img class="speed_b" src="/img/speed.png">
        </div>
        <div class="normal">
            <button @onclick="()=>changeSpeedGame(1500)"><img class="normal_b" src="/img/Normal.png"></button>
        </div>
        <div class="slow">
            <button @onclick="()=>changeSpeedGame(2000)"><img class="slow_b" src="/img/slow.png"></button>
        </div>
        <div class="fast">
            <button @onclick="()=>changeSpeedGame(300)"><img class="fast_b" src="/img/fast.png"></button>
        </div>
        <div class="grid">
            <img class="grid_b" src="/img/Grid.png">
        </div>
        <div class="select_">
            <select name="height" onchange="">
                <option value="baseH">@getHeight[0]</option>
                <option value="valueH1">@getHeight[1]</option>
                <option value="valueH2">@getHeight[2]</option>
                <option value="valueH3">@getHeight[3]</option>
            </select>
            <select name="width" onchange="">
                <option value="baseW">@getWidth[0]</option>
                <option value="valueW1">@getWidth[1]</option>
                <option value="valueW2">@getWidth[2]</option>
                <option value="valueW3">@getWidth[3]</option>
                <option value="valueW4">@getWidth[4]</option>
            </select>
        </div>
    </div>
        <a href="/accueil"><img class="back" src="/img/BackBtn.png"></a>
</div>

@code {

    public int[] getWidth = new int[] {10, 9, 8, 7, 6};
    public int[] getHeight = new int[] {20, 15, 10, 5};

    private void changeSpeedGame(int speed) {
        if (speed == 2000){
            UriHelper.NavigateTo($"/game/{speed}");
        } else if (speed == 300) {
            UriHelper.NavigateTo($"/game/{speed}");
        } else {
            UriHelper.NavigateTo($"/game/{1500}");
        }
    }

}